body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fdf7ea;
}
.contenedor {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
.imagen_p {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

h1 {
    background-color: #ab8053;
    color: white;
    text-align: center;
    font-size: 50px;
    padding: 10px;
}
h2 {
    color: #7d5639;
    font-size: 30px;
    padding: 15px;
}

.producto-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.producto {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.imagen {
    width: 250px;
    height: auto;
    border-radius: 10px;
}
.producto-info {
    margin-top: 10px;
}
.unidades {
    width: 50px;
    text-align: center;
    padding: 5px;
}

.contenedor-boton {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.boton {
    background-color: #ab8053;
    color: white;
    border: none;
    padding: 15px 25px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}
.boton:hover {
    background-color: #7e3512;
}

.arbol {
    width: 30%;
    height: auto;
    display: block;
    margin: 20px auto;
}

.copyright {
    background-color: #ab8053;
    color: white;
    padding: 15px;
    margin-top: 30px;
}
